<ion-header>
  <!-- Navigation -->
  <nav class="navigation">
    <div class="container">

      <ul class="nav-links">
        <li><a href="/Test Resolucion/perfil.html">Mi Perfil</a></li>
        <li><a href="/Test Resolucion/recarga.html">Recargas</a></li>
        <li><a href="/Test Resolucion/promocion.html">Promociones</a></li>
        <li><a href="/Test Resolucion/cashback.html">Cash Back</a></li>
        <li><a href="/Test Resolucion/index.html" class="active">Club VIP</a></li>
        <li><a href="/Test Resolucion/beneficios.html">Mis Beneficios</a></li>
        <li><a href="/Test Resolucion/logros.html">Logros VIP</a></li>
        <li><a href="/Test Resolucion/canjear.html">Canjear Puntos</a></li>
      </ul>
      

        <div class="user-balance">
          <i class="fas fa-wallet"></i>
          <span>Saldo: $85.000</span>
          </div>

          <div class="notification-icon">
            <i class="fas fa-bell" onclick="toggleNotifications()"></i>
          </div>
            
    </div>
  </nav>
</ion-header>