<!-- Logo AltoTermal -->
<section class="altoTermal-logo">
  <div class="logo-container">
    <img src="/assets/img/altoTermal.png" alt="AltoTermal" class="altoTermal-logo-img">
  </div>
</section>


<!-- FOOTER -->
<footer class="prestige-footer" id="contacto">
  <div class="footer-inner">
    <nav class="footer-links">
      <a (click)="navigateTo('sobre-nosotros')">SOBRE NOSOTROS</a>
      <a (click)="navigateTo('ayuda')">CENTRO DE AYUDA</a>
      <a (click)="navigateTo('partners')">PROGRAMA PARTNERS</a>
    </nav>

    <div class="footer-social">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-tiktok"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
  </div>
</footer>