<!-- Marcas asociadas -->
<section class="brands-marquee">
  <div class="marquee-track" aria-hidden="true">
    <!-- Tira 1 -->
    <div
      class="brand brand-mask"
      *ngFor="let b of brands"
      [style.--logo]="'url(' + b.logo + ')'"
      [attr.aria-label]="b.name"
      role="img"
    ></div>

    <!-- Tira 2 (duplicada para loop perfecto) -->
    <div
      class="brand brand-mask"
      *ngFor="let b of brands"
      [style.--logo]="'url(' + b.logo + ')'"
      [attr.aria-label]="b.name"
      role="img"
    ></div>
  </div>
</section>


<!-- FOOTER -->
<footer class="prestige-footer" id="contacto">
  <div class="footer-inner">
    <nav class="footer-links">
      <a (click)="navigateTo('sobre-nosotros')">SOBRE NOSOTROS</a>
      <a (click)="navigateTo('ayuda')">CENTRO DE AYUDA</a>
      <a (click)="navigateTo('partners')">PROGRAMA PARTNERS</a>
    </nav>

    <div class="footer-social">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-tiktok"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
  </div>
</footer>