<ion-content class="fondo" [fullscreen]="true">
  <app-header></app-header>
  <div class="user-dashboard">
    <!-- Resumen de puntos -->
    <section class="resumen-puntos">
      <div class="puntos-actuales">
        <h2>¡Hola, Franccesco!</h2>
        <p>Puntos disponibles: <span>8500</span></p>
        <div class="categoria-vip">
          <span>Tu nivel: </span>
          <strong>Gold</strong>
          <ion-icon name="medal-outline"></ion-icon>
        </div>
        <div class="progreso-categoria">
          <progress value="60" max="100"></progress>
          <small>¡Solo te faltan 1500 puntos para subir a Platinum!</small>
        </div>
      </div>
    </section>

    <!-- Catálogo de premios -->
    <section class="catalogo-premios">
      <ion-button expand="block" color="warning">Canjear Puntos</ion-button>
      <h3>Catálogo de Premios</h3>
      <div class="premios-grid">
        <div class="premio-card">
          <img src="/assets/img/giftcard.png" alt="Gift Card 10$">
          <h4>Gift Card 10$</h4>
          <p>4000 pts</p>
          <ion-button size="small">Canjear</ion-button>
        </div>
        <div class="premio-card">
          <img src="/assets/img/freespins.jpg" alt="Free Spins">
          <h4>Free Spins</h4>
          <p>12000 pts</p>
          <ion-button size="small">Canjear</ion-button>
        </div>
        <div class="premio-card">
          <img src="/assets/img/bonusextra.jpeg" alt="Bono Extra">
          <h4>Bonus Extra</h4>
          <p>2500 pts</p>
          <ion-button size="small">Canjear</ion-button>
        </div>
      </div>
    </section>

    <!-- Beneficios -->
    <section class="beneficios-vip">
      <h3>Beneficios de tu nivel</h3>
      <ul>
        <li>Descuentos en restaurantes</li>
        <li>Acceso a eventos VIP</li>
        <li>Estacionamiento preferencial</li>
      </ul>
    </section>
  </div>
  <app-footer></app-footer>
</ion-content>
