<ion-content class="fondo" [fullscreen]="true">
  <app-header></app-header>

  <div class="profile-section">
    <h2 class="section-title">Mi Perfil</h2>

    <div class="profile-card">
      <div class="profile-header">
        <img src="/assets/img/foto-perfil.jfif" alt="Avatar" class="avatar">
        <div>
          <h3>Lucía Opazo</h3>
          <p>VIP Nivel: <strong>Gold</strong></p>
          <p>Puntos acumulados: <strong>2.350</strong></p>
        </div>
      </div>

      <div class="profile-details">
        <p><i class="fa-solid fa-envelope"></i> Correo: lucia.opazo&#64;example.com</p>
        <p><i class="fa-solid fa-phone"></i> Teléfono: +56 9 1234 5678</p>
        <p><i class="fa-solid fa-calendar"></i> Miembro desde: Enero 2023</p>
        <p><i class="fa-solid fa-location-dot"></i> País: Chile</p>
      </div>

      <div class="profile-balance">
        <h4>Mi Saldo</h4>
        <div class="balance-box">
          <div>
            <p>Saldo disponible</p>
            <span class="balance-amount">$85.000</span>
          </div>
          <div>
            <p>Bono activo</p>
            <span class="bonus-amount">$10.000</span>
          </div>
          <div>
            <a href="/Test Resolucion/recarga.html"> <button class="recharge-btn"><i class="fa-solid fa-plus"></i>Recargas</button></a>
          </div>
        </div>
      </div>

      <div class="profile-actions">
        <button class="profile-btn"><i class="fa-solid fa-pen"></i> Editar Datos</button>
        <button class="profile-btn logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
      </div>
    </div>
  </div>



  <app-footer></app-footer>
</ion-content>

