ion-app {
  font-family: 'Poppins', sans-serif !important; /* Aplica la fuente Poppins */
}

ion-menu {
  font-family: var(--main-font);
  --width: 400px; /* Establece el ancho del menú */
  --background: #dadada; /* Fondo claro consistente con el footer */
  --color: #333333; /* Texto en un tono oscuro para mejor visibilidad */
  --ion-background-color: #f5f5f5; /* Fondo general del menú */
  --ion-text-color: #333333; /* Color del texto dentro del menú */

  ion-toolbar {
    --background: #1a1a1a; /* Color oscuro para el header */
    --color: white; /* Color del texto del título */
  }

  ion-item {
    --color: #4a4a4a; /* Texto en tono medio */
    --background: transparent; /* Fondo transparente por defecto */
    --background-hover: rgba(26, 26, 26, 0.1); /* Fondo oscuro suave y difuminado en hover */
    
    ion-icon {
      color: #1a1a1a; /* Íconos en tono oscuro */
    }

    /* Estilos para el hover en los ion-items */
    &:hover {
      --background: rgba(26, 26, 26, 0.1) !important; /* Oscuro claro y sutil al pasar el cursor */
      --color: #1a1a1a !important; /* Color del texto oscuro al hacer hover */
    }
  }

  .spacer {
    flex-grow: 1; /* Empuja los ítems hacia arriba dejando el logout al fondo */
  }
}

.logout-item {
  /* Aplicar los mismos estilos para el item de Cerrar Sesión */
  ion-item {
    --background-hover: rgba(26, 26, 26, 0.1); /* Fondo oscuro suave en hover */
    --color: #333333; /* Texto oscuro por defecto */
    
    &:hover {
      --background: rgba(26, 26, 26, 0.1) !important; /* Fondo oscuro suave y difuminado en hover */
      --color: #1a1a1a !important; /* Mantén el color del texto oscuro al hacer hover */
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Asegura que el contenido de contacto se alinee al fondo */
  padding: 10px;
  font-size: 14px;
  color: #4a4a4a; /* Color de texto consistente con el footer */
}
